<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="insert_ros2_control_mecanum" params="is_sim robot_port_name robot_baudrate">
        <ros2_control name="$minibot_system" type="system">
            <xacro:if value="$(arg is_sim)">
                <hardware>
                    <plugin>gazebo_ros2_control/GazeboSystem</plugin>
                </hardware>
            </xacro:if>
            <xacro:unless value="$(arg is_sim)">
                <hardware>
                    <plugin>minibot_hardware/MinibotSystemHardware</plugin>
                    <param name="port_name">${robot_port_name}</param>
                    <param name="baudrate">${robot_baudrate}</param>
                </hardware>
            </xacro:unless>

            <gpio name="gpio">
                <!-- <command_interface name="set_enable_motor"/> -->
                <state_interface name="motor_enabled"/>

                <command_interface name="set_l_lamp_command"/>
                <command_interface name="set_r_lamp_command"/>
                <state_interface name="l_lamp_state"/>
                <state_interface name="r_lamp_state"/>
                <state_interface name="range_sensor_state"/>
            </gpio>
        </ros2_control>
    </xacro:macro>
</robot>